html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
}

.center {
    text-align: center;
}

#session1 .title{
    font-size: 3.125rem;
    font-weight: normal;
}

a{
    color: aquamarine;
}

#session2 p{
    color: gray;
    font-size: 1.3125rem;
}

#session2 .title{
    font-size: 2.625rem;
    font-weight: 300;
}

#session3 .title{
    font-size: 2.625rem;
    font-weight: 300;
}

#footer p{
    color: gray;
    font-size: 1.3125rem;
    text-align: right;
}